<div class="row">
  <div class="col-md"><h3>Create Post</h3></div>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col-md-6">
      <label class="font-weight-bold">Title</label>
      <input
        type="text"
        class="form-control"
        placeholder="title"
        formControlName="title"
      />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label class="font-weight-bold">Description</label>
      <textarea
        type="text"
        class="form-control"
        placeholder="description"
        formControlName="description"
      ></textarea>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-6">
      <label class="font-weight-bold">Image Path</label>
      <input
        type="text"
        class="form-control"
        placeholder="image path"
        formControlName="imgPath"
      />
    </div>
  </div>
  <button
    type="submit"
    class="btn btn-success font-weight-bold"
    [disabled]="form.invalid"
  >
    Save
  </button>
  |
  <button type="reset" class="btn btn-primary font-weight-bold">Clear</button>
</form>
