<div class="row">
  <div class="col-md"><h3>Create Post</h3></div>
</div>
<form>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Title</label>
      <input type="email" class="form-control" placeholder="title" />
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Description</label>
      <input type="password" class="form-control" placeholder="description" />
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="inputEmail4">Image Path</label>
      <input type="email" class="form-control" placeholder="image path" />
    </div>
    <div class="form-group col-md-6">
      <label for="inputPassword4">Password</label>
      <input type="password" class="form-control" placeholder="Password" />
    </div>
  </div>
  <button type="submit" class="btn btn-success">Save</button> |
  <button type="submit" class="btn btn-primary">Clear</button>
</form>
